<footer class="footer">
    <div class="container footer__row">
        <div class="footer__logo">
            <picture>
                <source srcset="./img/logo-xl-footer.png" type="image/svg+xml" media="(min-width: 1200px)">
                <img src="./img/logo-sm-footer.png" alt="logo">
            </picture>
        </div>
        <ul class="footer__social social">
            <li class="social__item">
                <span class="i-twitter"></span>
            </li>
            <li class="social__item">
                <span class="i-facebook"></span>
            </li>
            <li class="social__item">
                <span class="i-youtube"></span>
            </li>
        </ul>
        <div class="footer__copyright copyright">
            <span class="copyright__text">Разработано</span>
            <span class="i-htmlacademy copyright__img"></span>
        </div>
    </div>
</footer>
<script src="./js/script.js" type="text/javascript"></script>