.app-contacts {
  padding-top: 42px;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #d22856;
  text-align: center;

  @media screen and (min-width: $lg) {
    padding-top: 35px;
  }

  &__link {
    color: #d22856;
    text-decoration: none;
  }

  &__address {
    font-style: normal;
  }

  &__heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 5px;

    @media screen and (min-width: $lg) {
      margin-bottom: 25px;
    }
  }
    &__title {
      color: #000000;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 36px;
      width: 225px;

      @media screen and (min-width: $sm) {
        font-size: 40px;
        line-height: 45px;
        width: 370px;
        margin-bottom: 50px;
      }

      @media screen and (min-width: $lg) {
        font-size: 50px;
        line-height: 60px;
        width: 465px;
        margin-bottom: 60px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;


      @media screen and (min-width: $sm) {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: -20px;
      }

      @media screen and (min-width: $lg) {
        margin-bottom: 0;
      }

    }

    &__item {
      padding-right: 10px;
      padding-left: 10px;
      margin-bottom: 20px;

      @media screen and (min-width: $sm) {
        width: 50%;
        margin-bottom: 50px;
      }

      @media screen and (min-width: $lg) {
        width: auto;
        margin-bottom: 20px;
      }

    }

    &__item--address {
        order: 1;

      @media screen and (min-width: $lg) {
        order: 0;
      }
    }

  }
