.app-price {

  @media screen and (min-width: $sm) {
    padding-top: 85px;
    padding-bottom: 110px;
  }

  @media screen and (min-width: $lg) {
    padding-top: 148px;
    padding-bottom: 110px;
  }

}