.app-description {
  display: flex;

  @media screen and (min-width: $sm) {
  padding-top: 0;
  }

  &__title {
    margin-top: 40px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    width: 210px;

    @media (max-width: $lg) and (min-width: $sm)  {
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: 40px;
      line-height: 48px;
      width: 583px;
    }

    @media screen and (min-width: $lg) {
      margin-top: 67px;
      margin-bottom: 75px;
      font-size: 50px;
      line-height: 60px;
      width: 730px;
    }

  }

  &__paragraph-1 {
    margin-top: 0;
    margin-bottom: 25px;

    @media screen and (min-width: $sm) {
      margin-bottom: 0;
    }

  }

  &__paragraph-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__cards {
    position: relative;

    @media screen and (min-width: $sm) {
      padding-left: 311px;
      width: 620px;
      min-height: 489px;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: $lg) {
      display: flex;
      justify-content: space-between;
      padding-left: 0;
      margin-left: 0;
      margin-right: 0;
      width: auto;
      min-height: auto;
    }
  }

  &__addition {
    @media screen and (min-width: $lg) {
      margin-top: 67px;
    }
  }
}