.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  @media screen and (min-width: $sm) {
    width: 335px;
    text-align: left;
  }

  @media screen and (min-width: $lg) {
    text-align: center;
  }

  &__img {
    display: none;

    @media screen and (min-width: $lg) {
      display: block;
      margin-bottom: 55px;
      height: 302px;
      width: auto;
    }
  }

  &__img--mobile {
    display: block;
    order: 1;
    margin-top: 45px;
    height: 276px;
    width: auto;

    @media (min-width: $sm) and (max-width: $lg)  {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 481px;
      width: auto;
      margin-top: 0;
    }

    @media screen and (min-width: $lg) {
      position: static;
      order: 0;
      height: 302px;
      width: auto;
      margin-top: 0;
    }
  }

  &__title {
    width: 100%;
    font-size: 18px;
    line-height: 10px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 18px;

    @media screen and (min-width: $sm) {
      margin-bottom: 19px;
      padding-right: 12px;
      padding-left: 12px;
    }

    @media screen and (min-width: $lg) {
      font-size: 30px;
      line-height: 30px;
      font-weight: 700;
      margin-bottom: 25px;
    }

  }

  &__text {

    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding-right: 12px;
    padding-left: 12px;

    @media screen and (min-width: $lg) {
      font-size: 18px;
      line-height: 30px;
      padding-right: 25px;
      padding-left: 25px;
    }
  }
}