.fieldset {
  width: 100%;
  position: relative;

  @media screen and (min-width: $sm) {
    border: 2px solid #dddfe0;
    padding: 45px 60px;
  }
}

.fieldset:before {
  content: attr(data-legend);
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  padding: 35px 20px 15px 20px;

  @media screen and (min-width: $sm) {
    line-height: 30px;
    white-space: nowrap;
    position: absolute;
    top: -16px;
    background-color: #ffffff;
    padding: 0 32px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media screen and (min-width: $lg) {
    padding: 0 40px;
  }
}

.fieldset--hide:before {
  display: none;

  @media screen and (min-width: $sm) {
    display: block;
  }
}

