.fieldset {
  width: 100%;
  border: 2px solid #dddfe0;
  position: relative;

  @media screen and (min-width: $sm) {
    margin-bottom: 67px;
    padding-top: 40px;
  }
}

.fieldset:before {
  content: attr(data-legend);font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;

  @media screen and (min-width: $sm) {
    line-height: 30px;
    white-space: nowrap;
    position: absolute;
    top: -16px;
    background-color: #ffffff;
    padding: 0 32px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media screen and (min-width: $lg) {
    padding: 0 40px;

  }
}