.c-checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: $lg) {
    flex-direction: row;
    justify-content: space-between ;
  }
}

.c-checkbox {
  height: 40px;
  position: relative;
  margin-bottom: 45px;
  padding-left: 70px;

  @media screen and (min-width: $sm) {
    padding-left: 60px;
  }

  &__input {
    display: block;
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 39px;
    height: 39px;
    background-color: #ffffff;
    border: 2px solid #dddfe0;
  }

  &__input:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 14px;
    width: 12px;
    height: 24px;
    border-right: 3px solid;
    border-bottom: 3px solid;
    transform: rotate(45deg);
    border-color: transparent;
  }

  input[type="checkbox"] {
    display: none;

    &:checked + .c-checkbox__input::before {
      border-color: #d22856;
    }
  }
}

.c-radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.c-radio {
  position: relative;
  height: 40px;
  margin-bottom: 35px;
  padding-left: 70px;

  @media screen and (min-width: $sm) {
    padding-left: 60px;
  }

  &__input {
    display: block;
    position: absolute;
    top: -3px;
    left: 0;
    width: 39px;
    height: 39px;
    background-color: #ffffff;
    border: 2px solid #dddfe0;
    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      width: 15px;
      height: 15px;
      background-color: transparent;
      border-radius: 50%;
    }
  }

  input[type="radio"] {
    display: none;

    &:checked + .c-radio__input::before {
      background-color: #d22856;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.c-input {

  &__label {
    font-size: 14px;
    color: #d22856;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 23px;
    margin-bottom: 5px;
    margin-top: 18px;
  }

  &__error {
    display: none;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    height: 63px;
    width: 100%;
    border: 2px solid #dddfe0;
    padding-left: 22px;
    padding-right: 22px;
  }

  textarea {
    width: 100%;
    height: 200px;
    resize: none;
    border: 2px solid #dddfe0;
    padding: 20px;

    @media screen and (min-width: $lg) {
      height: 125px;
    }
  }

  &--row {

    @media screen and (min-width: $sm) {
      display: flex;
      margin-bottom: 50px;
    }

    @media screen and (min-width: $lg) {
      margin-bottom: 55px;
    }

    .c-input__label {

      @media screen and (min-width: $sm) {
        margin-left: 0;
      }
    }

    .c-input__input {

      @media screen and (min-width: $sm) {
        flex-grow: 1;
        margin-left: 20px;
      }
    }

    &:last-child {

      @media screen and (min-width: $lg) {
        margin-bottom: 0;
      }
    }
  }
}

