form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $sm) {
    max-width: 620px;
  }

  @media screen and (min-width: $lg) {
    max-width: 940px;
  }
}

.c-input {

  &__label {
    font-size: 14px;
    color: #d22856;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 23px;
    margin-bottom: 5px;
    margin-top: 18px;
  }

  &__error {
    display: none;
  }
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  height: 63px;
  width: 100%;
  border: 2px solid #dddfe0;
  padding-left: 22px;
  padding-right: 22px;
}

.c-radio-group,
.c-checkbox-group{
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.c-radio {
  position: relative;
  height: 40px;
  margin-bottom: 35px;
  padding-left: 70px;

  &__label:before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 39px;
    height: 39px;
    background-color: #ffffff;
    border: 2px solid #dddfe0;
    border-radius: 50%;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.c-checkbox {
  height: 40px;
}

.c-checkbox-group .col {
    display: flex;
    flex-direction: column;
}

textarea {
  width: 100%;
  resize: none;
  border: 2px solid #dddfe0;
  padding: 20px;
}