.get-app {
  background-color: #19222b;
  background: url("../img/smart-hand-xs.png") left bottom no-repeat,
  url("../img/top-image-xs.png") center center no-repeat;
  background-size: auto auto, 100% auto;
  color: #ffffff;
  padding-top: 66px;
  margin-bottom: 270px;
  min-height: 462px;
  display: flex;
  align-items: flex-end;

  @media screen and (min-width: $sm) {
    padding-top: 110px;
  }

  @media (max-width: $lg) and (min-width: $sm)  {
    background: url("../img/smart-hand-sm.png") center bottom no-repeat,
    url("../img/top-image-sm.png") right bottom no-repeat;
    background-size: auto auto, 100% auto;
    margin-bottom: 0;

  }

  @media screen and (min-width: $lg) {
    background: url("../img/smart-hand-lg.png") center bottom no-repeat,
    url("../img/top-image-lg.png") center bottom no-repeat;
    background-size: auto auto, 100% auto;
    margin-bottom: 0;
  }

  &__inner {
    display: flex;
    width: 100%;
    position: relative;
    bottom: -270px;
    height: 270px;

    @media screen and (min-width: $sm) {
      width: 300px;
      position: static;
      height: auto;
    }
  }

  &__content {
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1d2631;
    margin-right: -20px;
    margin-left: -20px;
    width: calc(100% + 40px);


    @media screen and (min-width: $sm) {
      background-color: transparent;
      width: 300px;
      margin-right: 0;
      margin-left: 0;
    }
  }

    &__title {
      display: none;

      @media screen and (min-width: $sm) {
        display: block;
        text-align: center;
        font-weight: 300;
        padding-left: 28px;
        padding-right: 28px;
      }

      @media (max-width: $lg) and (min-width: $sm)  {
        margin-bottom: 30px;
        font-size: 40px;
        line-height: 48px;
      }

      @media screen and (min-width: $lg) {
        margin-top: 108px;
        margin-bottom: 52px;
        font-size: 50px;
        line-height: 60px;
      }

    }

  &__icons {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 0;
    margin-bottom: 15px;

    @media (min-width: $sm) and (max-width: $lg) {
      margin-bottom: 25px;
    }

    @media screen and (min-width: $lg) {
      margin-bottom: 45px;
    }
  }

  &__icon {
    margin-left: 18px;
    margin-right: 18px;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    width: 230px;
    margin-bottom: 30px;

    @media screen and (min-width: $sm) {
      display: flex;
      font-size: 18px;
      width: 100%;
    }
    @media (min-width: $sm) and (max-width: $lg) {
      margin-bottom: 110px;
    }

    @media screen and (min-width: $lg) {
      margin-bottom: 120px;
    }
  }
}
