.graphics-editor {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  margin-right: -20px;
  margin-left: -20px;
  padding: 20px 20px 40px 20px;

  @media screen and (min-width: $sm) {
    flex-direction: row;
    padding: 55px 20px;
    justify-content: space-around;
  }

  @media screen and (min-width: $lg) {
    padding-left: 80px;
    padding-right: 60px;
    margin-right: 0;
    margin-left: 0;
  }

  &__img {
    background-repeat: no-repeat;
    background-position: center center;
    height: 375px;
    width: 280px;
    margin: 0 auto 40px auto;

    @media screen and (min-width: $sm) {
      height: 400px;
      width: 300px;
      margin: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__control {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $sm) {
      width: 100%;
    }

    @media screen and (min-width: $lg) {
      flex-direction: row;
    }
  }
}