.graphics-editor {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  margin-right: -20px;
  margin-left: -20px;
  padding: 20px 20px 40px 20px;

  @media screen and (min-width: $sm) {
    flex-direction: row;
    padding: 55px 20px;
    justify-content: center;
  }

  @media screen and (min-width: $lg) {
    padding-left: 80px;
    padding-right: 60px;
    margin-right: 0;
    margin-left: 0;
  }

  &__img {
    background-repeat: no-repeat;
    background-position: center center;
    height: 375px;
    width: 280px;
    margin: 0 auto 40px auto;

    @media screen and (min-width: $sm) {
      height: 400px;
      width: 300px;
      margin: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $sm) {
      padding-left: 45px;
    }

    @media screen and (min-width: $lg) {
      padding-left: 90px;
    }
  }

  &__control {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $sm) {
      width: 100%;
    }

    @media screen and (min-width: $lg) {
      flex-direction: row;
    }
  }

  &__btn-post,
  &__btn-cancel {

    width: 280px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $sm) {
      width: 260px;
    }

    @media screen and (min-width: $lg) {
      width: 180px;
    }
  }

  &__btn-cancel {
    border-color: #dddfe0;
    color: #dddfe0;
  }

  &__btn-cancel:hover {
    border-color: #b5b9be;
    color: #b5b9be;
  }

  &__btn-cancel:active {
    background-color: #b5b9be;
    color: #c8cbcf;
  }

  &__btn-post {
    color: #d22856;
    border-color: #d22856;
    margin-bottom: 12px;

    @media screen and (min-width: $sm) {
      margin-bottom: 24px;
    }

    @media screen and (min-width: $lg) {
      margin-bottom: 0;
    }
  }

  &__btn-post:hover {
    background-color: #d22856;
    color: #ffffff;
  }

  &__btn-post:active {
    color: #de6183;
    background-color: #d22856;
  }

}