.header {
  background-color: rgba(0, 0, 0, 0.302);
  height: 66px;
  line-height: 18px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  @media screen and (min-width: $sm) {
    height: 110px;
  }

  &__logo {

    @media screen and (min-width: $sm) {
      padding-bottom: 15px;
    }
  }

  &__menu {
    @media screen and (min-width: $lg) {
      margin-left: 170px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
}

.menu-open .header {
  @media screen and (max-width: 1199px) {
    position: static;
    background-color: rgba(40, 54, 69, 10);
    height: auto;
  }
}

.menu-open .header__row {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-right: 0;
    padding-left: 0;
  }

}

.menu-open .header__logo {
    padding-left: 20px;
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 22px;

  @media (max-width: 1199px) and (min-width: $sm) {
    padding-top: 27px;
    padding-bottom: 41px;
  }
}
