.header {
  background-color: rgba(0, 0, 0, 0.302);
  height: 66px;
  line-height: 18px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  @media screen and (min-width: $sm) {
    height: 110px;
  }

  &__logo {
    padding-bottom: 15px;
  }

  &__menu {
    @media screen and (min-width: $lg) {
      margin-left: 170px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
}



