.main-photo {

    &__img {
        height: 137px;
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;

        @media screen and (min-width: $sm) {
            height: 505px;
        }
    }
}