.table {
  display: none;

  @media screen and (min-width: $sm) {
    width: 100%;
    display: table;
    border-collapse: collapse;
    font-size: 14px;
  }

  @media screen and (min-width: $lg) {
    font-size: 18px;
  }

  &__cell {

    @media screen and (min-width: $sm) {
      border: 2px solid #e8eaea;
      width: 25%;
      padding-top: 7px;
      padding-bottom: 8px;
      padding-left: 14px;
      padding-right: 14px;
    }

    @media screen and (min-width: $lg) {
      padding-top: 14px;
      padding-bottom: 15px;
      padding-left: 21px;
      padding-right: 21px;
    }

  }

  &__cell--last {
    border-right: none;
  }

  &__cell--name {

    @media screen and (min-width: $sm) {
      border-left: none;
      border-top: none;
      border-bottom: none;
      background-color: #1d2631;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
    }

    @media screen and (min-width: $lg) {
      font-size: 18px;
    }
  }

  &__rate-price {

    @media screen and (min-width: $sm) {
      margin-top: 5px;
      font-size: 20px;
    }

    @media screen and (min-width: $lg) {
      font-size: 24px;
    }
  }

}