.table {
  display: none;

  @media screen and (min-width: $sm) {
    width: 100%;
    display: table;
    border-collapse: collapse;
    font-size: 14px;
  }

  @media screen and (min-width: $lg) {
    font-size: 18px;
  }

  &__cell {

    @media screen and (min-width: $sm) {
      border: 2px solid #e8eaea;
      width: 25%;
      background-color: #ffffff;
      padding-top: 7px;
      padding-left: 14px;
      padding-right: 14px;
      text-align: center;
    }

    @media screen and (min-width: $lg) {
      padding-top: 12px;
      padding-bottom: 13px;
      padding-left: 21px;
      padding-right: 21px;
    }

    &:first-child {
      text-align: left;
    }

  }

  &__cell--last {
    border-right: none;
  }

  &__cell--name {

    @media screen and (min-width: $sm) {
      border-left: none;
      border-top: none;
      border-bottom: none;
      background-color: #1d2631;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
    }

    @media screen and (min-width: $lg) {
      font-size: 18px;
    }
  }

  &__cell--hit {
    position: relative;

    ::before {

      @media screen and (min-width: $sm) {
        content: url("../img/hit-sm.png");
        display: block;
        width: 61px;
        height: 61px;
        position: absolute;
        top: 0;
        left: 0;
      }

      @media screen and (min-width: $lg) {
        content: url("../img/hit.png");
        width: 73px;
        height: 73px;
      }

    }
  }

  &__rate {

      @media screen and (min-width: $sm) {
        margin-top: 6px;
        font-weight: 700;
      }

  }

  &__rate-price {

      @media screen and (min-width: $sm) {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 8px;
        margin-top: -3px;
      }

      @media screen and (min-width: $lg) {
        font-size: 24px;
        margin-top: 0;
      }
  }

}
