.tabs {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dddfe0;
  margin-bottom: 40px;
  margin-right: -20px;
  margin-left: -20px;
  padding-bottom: 35px;
  width: calc(100% + 40px);

  @media screen and (min-width: $sm) {
    border-bottom: none;
    flex-direction: row;
    margin-top: 0;
    justify-content: center;
  }

  @media screen and (min-width: $lg) {
    justify-content: flex-start;
  }


  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    @media screen and (min-width: $sm) {
      flex-direction: column;
      justify-content: space-between;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      width: auto;
    }
  }

  &__btn {
    border: none;
    background-color: transparent;
    margin-right: 17px;
    margin-left: 17px;
    padding: 0;

    @media screen and (min-width: $sm) {
      border-bottom: 1px solid #dddfe0;
      margin-right: 0;
      margin-left: 0;
      height: 70px;
    }

    &--active {

    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: $sm) {
      justify-content: flex-start;
    }
  }

  &__content-item {
    display: none;
    align-items: center;

    @media screen and (min-width: $sm) {
      display: flex;
      border-bottom: 1px solid #dddfe0;
      height: 70px;
      padding-right: 20px;
      padding-left: 30px;
    }

    @media screen and (min-width: $lg) {
      padding-right: 30px;
      padding-left: 50px;
    }

    &--active {
      display: flex;
    }
  }
}