html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.page-text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 50px;

  @media screen and (min-width: $sm) {
    font-size: 18px;
    width: 450px;
    margin-bottom: 75px;
  }

  @media screen and (min-width: $lg) {
    width: 570px;
    margin-bottom: 85px;
  }
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}