.i-burger {
  display: inline-block;
  background-image: url("../img/icons/i_burger.png");
  background-repeat: no-repeat;
  height: 25px;
  width: 50px;
}

.i-close {
  display: inline-block;
  background-image: url("../img/icons/i_close.png");
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
}

.i-youtube {
  display: inline-block;
  background-image: url("../img/icons/i_youtube.png");
  background-repeat: no-repeat;
  height: 13px;
  width: 15px;
}

.i-twitter {
  display: inline-block;
  background-image: url("../img/icons/i_twitter.png");
  background-repeat: no-repeat;
  height: 14px;
  width: 18px;
}

.i-facebook {
  display: inline-block;
  background-image: url("../img/icons/i_facebook.png");
  background-repeat: no-repeat;
  height: 18px;
  width: 9px;
}

.i-htmlacademy {
  display: inline-block;
  background-image: url("../img/icons/i_htmlacademy.png");
  background-repeat: no-repeat;
  height: 34px;
  width: 27px;
}

.i-apple-logo {
  display: inline-block;
  background-image: url("../img/icons/i_apple-logo.png");
  background-repeat: no-repeat;
  height: 57px;
  width: 48px;
}

.i-android-logo {
  display: inline-block;
  background-image: url("../img/icons/i_android-logo.png");
  background-repeat: no-repeat;
  height: 48px;
  width: 43px;
}

.i-microsoft-logo {
  display: inline-block;
  background-image: url("../img/icons/i_microsoft-logo.png");
  background-repeat: no-repeat;
  height: 41px;
  width: 44px;
}

.i-no {
  display: inline-block;
  background-image: url("../img/icons/i_no.png");
  background-repeat: no-repeat;
  height: 27px;
  width: 27px;
}

.i-yes {
  display: inline-block;
  background-image: url("../img/icons/i_yes.png");
  background-repeat: no-repeat;
  height:27px;
  width: 32px;
}

.i-brightness {
  display: inline-block;
  background-image: url("../img/icons/i_brightness.png");
  background-repeat: no-repeat;
  height:32px;
  width: 32px;
}

.i-fill {
  display: inline-block;
  background-image: url("../img/icons/i_fill.png");
  background-repeat: no-repeat;
  height:43px;
  width: 48px;
}

.i-frame {
  display: inline-block;
  background-image: url("../img/icons/i_frame.png");
  background-repeat: no-repeat;
  height:44px;
  width: 44px;
}

.i-heart {
  display: inline-block;
  background-image: url("../img/icons/i_heart.png");
  background-repeat: no-repeat;
  height: 12px;
  width: 14px;
}

.i-mail {
   display: inline-block;
   background-image: url("../img/icons/i_mail.png");
   background-repeat: no-repeat;

   height: 63px;
   width: 62px;
 }

.i-phone {
  display: inline-block;
  background-image: url("../img/icons/i_phone.png");
  background-repeat: no-repeat;

  height: 63px;
  width: 62px;
}