.i-burger {
  display: inline-block;
  background-image: url("../img/icons/i_burger.png");
  height: 25px;
  width: 50px;
}

.i-close {
  display: inline-block;
  background-image: url("../img/icons/i_close.png");
  height: 25px;
  width: 25px;
}