.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: $lg) {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  min-width: 320px;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px 42px 20px;

  @media screen and (min-width: $sm) {
    padding: 0;
  }

  @media screen and (min-width: $lg) {
    flex-direction: row;
  }

  &--sm {

    @media screen and (min-width: $sm) {
      flex-direction: row;
      align-items: baseline;
    }
  }
}

.col {
  flex-grow: 1;

  &--sm {
    display: block;
    text-align: center;

    > span {
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      height: 63px;

      @media screen and (min-width: $sm) {
        display: block;
        height: auto;
        text-align: end;
      }
    }
  }

  &--lg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &--lg .c-input {

    @media screen and (min-width: $lg) {
      display: flex;
      justify-content: space-between;
    }
  }
}